*.gz
*.png
*.mat
*.m
Submission/Street_View_House_Numbers/.ipynb_checkpoints/1_notmnist-checkpoint.ipynb

Submission/Street_View_House_Numbers/basic/.ipynb_checkpoints/1_notmnist-checkpoint.ipynb

Submission/Street_View_House_Numbers/basic/1_notmnist.ipynb
